---
layout: blog
---

<h1 class="post-title">Herzlich Willkommen!</h1>

<p>Dresden ist die Hauptstadt der Studentenclubs. {{ site.clubs | where_exp: "club", "club.city == 'Dresden' or club.city == 'Tharandt'" | size }} verschiedene Clubs bieten abwechslungsreiche Angebote für jeden Anlass: vom gemütlichen Kneipenabend über Kleinkunst, Jam Sessions und Konzerte bis hin zu Kino und Disko ist alles dabei.</p>

<p>Die Vereinigung Dresdner Studentenclubs (VDSC) versteht sich als Dachverband der einzelnen Clubs, der ihre gemeinsamen Interessen nach außen vertritt. Die Mitglieder des VDSC sind in der <a href="/clubs.html">Liste der Dresdner Studentenclubs</a> verzeichnet.</p>
