@font-face {
    font-family: 'titillium-regular';
    src: url($baseurl + '/assets/fonts/titillium/titillium-regular-webfont.eot');
    src: url($baseurl + '/assets/fonts/titillium/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($baseurl + '/assets/fonts/titillium/titillium-regular-webfont.woff') format('woff'),
         url($baseurl + '/assets/fonts/titillium/titillium-regular-webfont.ttf') format('truetype'),
         url($baseurl + '/assets/fonts/titillium/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium-regularitalic';
    src: url($baseurl + '/assets/fonts/titillium/titillium-regularitalic-webfont.eot');
    src: url($baseurl + '/assets/fonts/titillium/titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($baseurl + '/assets/fonts/titillium/titillium-regularitalic-webfont.woff') format('woff'),
         url($baseurl + '/assets/fonts/titillium/titillium-regularitalic-webfont.ttf') format('truetype'),
         url($baseurl + '/assets/fonts/titillium/titillium-regularitalic-webfont.svg#titilliumitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'titillium-semibold';
    src: url($baseurl + '/assets/fonts/titillium/titillium-semibold-webfont.eot');
    src: url($baseurl + '/assets/fonts/titillium/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($baseurl + '/assets/fonts/titillium/titillium-semibold-webfont.woff') format('woff'),
         url($baseurl + '/assets/fonts/titillium/titillium-semibold-webfont.ttf') format('truetype'),
         url($baseurl + '/assets/fonts/titillium/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'titillium-semibolditalic';
    src: url($baseurl + '/assets/fonts/titillium/titillium-semibolditalic-webfont.eot');
    src: url($baseurl + '/assets/fonts/titillium/titillium-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($baseurl + '/assets/fonts/titillium/titillium-semibolditalic-webfont.woff') format('woff'),
         url($baseurl + '/assets/fonts/titillium/titillium-semibolditalic-webfont.ttf') format('truetype'),
         url($baseurl + '/assets/fonts/titillium/titillium-semibolditalic-webfont.svg#titilliumbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
