/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  //border-bottom: 1px solid $grey-color-light;
  // background-color: $grey-color-dark;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(4);
  font-family: $bold-font-family;
  font-weight: bold;

  // margin-top consistent with .wrapper
  margin-top: $spacing-unit;
  @include media-query($on-laptop) {
    margin-top: $spacing-unit / 2;
  }

  margin-bottom: 1em;
  padding-right: 10%;
  // float: left;
  display: block;
  text-decoration: none;
  text-transform: uppercase;

  // background: url("/assets/logo.svg") 0 10px no-repeat;
  // background-size: 45px;
  // min-height: 75px;
  // padding: 28px 0 9px 27px;

  a,
  a:visited {
    color: $text-color;
    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }
    text-decoration: none;
  }
  img {
    // multi-line alt-text
    white-space: pre-line;
    line-height: .75em;
    $img-width: calc((#{$content-width} - (#{$spacing-unit} * 2)) / 2);
    width: $img-width;
    @include media-query($on-laptop) {
      width: calc((#{$content-width} - #{$spacing-unit}) / 2);
    }
    max-width: 100%;

    $left-yellow: calc(-120/1330 * #{$img-width});
    @media screen and (min-width: calc(#{$content-width} - 2 * #{$spacing-unit} - 2 * #{$left-yellow})) {
      margin-left: $left-yellow;
    }
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 1.5;

  border-color: $text-color;
  @media (prefers-color-scheme: dark) {
    border-color: $text-color-dark;
  }
  border-style: solid;
  border-width: 1px 0;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    font-weight: bold;
    line-height: $base-line-height;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
    margin-left: 20px;
  }

}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  color: $text-color;
  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(67% - (#{$spacing-unit} / 2));
  width:         calc(67% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

nav.pagination {
  line-height: $base-line-height * $base-font-size * 1.5;

  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  border-color: $text-color;
  border-style: solid;
  border-width: 1px 0;

  margin-top: 60px;

  a {
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.next {
      padding-left: 1em;
    }
    &.previous {
      padding-right: 1em;
    }
  }
}

/**
 * Blog
 */
.blog {
  article {
    margin: 40px 0;
  }

  h2 {
    @include relative-font-size(1.125);
  }
  h3 {
    @include relative-font-size(1.0);
  }
  h4 {
    @include relative-font-size(0.875);
  }

}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  // letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}
h1, h2, h3, h4 {
    font-family: $bold-font-family;
    letter-spacing: -1px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
}
.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    margin-top: 60px;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
/**
 * Sticky footer
 */
* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
main {
  min-height: calc( 100% - #{$footer-height} - #{ 4* $spacing-unit} - 40px );

  margin-bottom: ( $footer-height ) * -1;
}
main:after {
  content: "";
  display: block;
}
body > footer, main:after {
  height: $footer-height;
  box-sizing: border-box;
}

/**
 * Map
 */

// set min and max sizes for the map
#map {
  display: none;
  width: 100%;
  min-height: 40em;
  max-height: 100vw;
  height: 80vh;

  // remove nationalist symbol
  .leaflet-attribution-flag {
    display: none !important;
  }
}

// define filter for map in dark mode
:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  // apply dark mode filter on map tile pane
  .leaflet-pane.leaflet-tile-pane {
    filter: var(--map-tiles-filter, none);
  }
  // set dark colors for popups and controls
  .leaflet-control,
  .leaflet-control a,
  .leaflet-container a,
  .leaflet-popup-content-wrapper {
    color: $brand-color !important;
    background-color: $background-color-dark !important;
  }
}

/**
 * Events
 */

#events {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .2em;
  width: max-content;
  max-width: 100%;
  grid-template-columns: auto auto 1fr auto;
  @include media-query($on-palm) {
    grid-template-columns: auto auto 1fr;
  }

  border-bottom: 1px solid $text-color;
  @media (prefers-color-scheme: dark) {
    border-color: $text-color-dark;
  }

  & > .new-day, & > .caption {
    grid-column-start: 1;
  }
  & > .new-event {
    grid-column-start: 2;
  }
  & > .new-day, & > .new-event, & > .caption {
    grid-column-end: 5;
    @include media-query($on-palm) {
      grid-column-end: 4;
    }

    border-top: 1px solid $text-color;
    @media (prefers-color-scheme: dark) {
      border-color: $text-color-dark;
    }

    &:not(:first-child) {
      margin-top: .2em;
    }
    &:not(:last-child) {
      margin-bottom: .2em;
    }
  }

  & > .date {
    grid-column: 1;
    padding: 0 .5em;
    text-align: center;
    white-space: nowrap;

    &.long {
      display: block;
      @include media-query($on-palm) {
        display: none;
      }
    }
    &.short {
      display: none;
      @include media-query($on-palm) {
        display: block;
      }
    }
  }
  & > .time {
    grid-column: 2;
    padding: 0 .5em;
  }
  & > .summary {
    grid-column: 3;
    padding: 0 .5em;
  }
  & > .location {
    grid-column: 4;
    @include media-query($on-palm) {
      grid-column: 3;
    }
    padding: 0 .5em;
  }

  & > .caption {
    padding: .2em .5em 0;
    text-align: center;
  }
}
