<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
        {%- feed_meta -%}
        <link rel="stylesheet" href="{{ "/assets/leaflet.css" | relative_url }}"/>
        <script src="{{ "/assets/leaflet.js" | relative_url }}"></script>
        <style media="screen">
            #map { margin: 0; height: 300px; width: 100%; }
        </style>

    </head>

    <body>

        {% include header.html %}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                <h2>{{ page.name }}</h2>

                <p><a href="{{ page.web }}">{{ page.web | remove:'http://' | remove:'https://' }}</a></p>
                <p>{{ page.location.street }}, {{ page.location.zip }} {{ page.location.city }}</p>

                {{ content }}
                <div id="map"></div>
            </div>
        </main>

        {% include footer.html %}


        <script type="text/javascript">

            var mapView = [{{ page.location.lat | minus: 0.0001 }},{{ page.location.lon | minus: 0.0001 }}];
            var mapZoom = 15;

            var clubCoords = [{{ page.location.lat }},{{ page.location.lon }}];
            var clubOffset = [14, 15];

        </script>

        <script type="text/javascript">

            var mymap = L.map('map', {
                attributionControl: false,
                zoomControl: true
            }).setView(mapView, mapZoom);

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                selectArea: false
            }).addTo(mymap);

            var clubIcon = L.icon({
                iconAnchor: clubOffset,
                iconUrl: '{{ "/" | relative_url }}assets/club.svg'
            });

            var clubMarker = L.marker(clubCoords,  {icon: clubIcon} ).addTo(mymap);

        </script>


    </body>
</html>
